# apis
flickrapi
python-instagram
facebook-sdk
tweepy
python-forecastio

# nlp
pydictionary
nltk

# data analysis and plotting
pandas
matplotlib
seaborn

# misc
# enum34
requests

# docs
sphinx
sphinxcontrib-httpdomain
